<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Developer Media - Knockout Demo</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" />
   
    @BundleConfig.RenderLess(BundleConfig.StylesLess)
</head>
<body>
    
    <div class="page">
        <div id="header"></div>
        <div id="main">
            @RenderBody()
        </div>
    </div>

   
@Scripts.Render(BundleConfig.ScriptsGlobal)
<script>@RenderSection("scripts", false)</script>
   
</body>
</html>